<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/ae60a47ee9.js" crossorigin="anonymous"></script>
		<title>sydDom project</title>
		<link rel="stylesheet" href="complain.css">
		<link rel="stylesheet" href="../../routePages/R_css.css">
	</head>
	<body>
		<!-- <input type="color" name="" id=""> -->
		<div id="root" ></div>
		<script>
			const id = "<%=customer_id%>"
			const navIndex = '<%=navIndex%>'
			const clientName = '<%=username%>'
		</script>
		<script type="module" src="../../routePages/component-complain.js"></script>
		<script type="module" src="services-complain.js"></script>

	</body>
</html>